@import url(default.css);
@import url(common.css);

.visual h2 {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    z-index: 12;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    color: #FFF;
    transform: translate(0, -50%);
    /* fullpage.js 플러그인에서 한 section에 글자 딱 하나만 존재할때 ]
       해당 글자에 line-height이 들어가면 해당 section에서는 scroll이 
       작동되지 않을 수 있음 */
}
.visual video {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* top, bottom, left, right를 모두 0으로 주면 width:100%; height:100%;와 동일하게 적용됨 */
    z-index: 11;
    background-color: rgba(0,0,0,0.3);
}
.visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 80px;
    z-index: 12;
    color: #FFF;
    text-align: center;
    transform: translate(-50%, 0);
    /* 콘텐츠 넓이의 절반을 왼쪽으로 이동 */
}
.visual .scroll strong {
    display: block;
    margin-top: 10px;
    color: rgba(255,255,255,0.3);
}
.visual .scroll img {
    animation-name: scroll_move;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* 무제한 */
    animation-timing-function: cubic-bezier(.7,.15,.33,.92);/* 가속도 */
}
/* 
   transition과의 차이점 
   1. 가만히 있어도 애니메이션 효과가 적용됨(hover하거나, 스크롤을 내릴 때 )
   2. keyframes로 선언한 애니메이션의 재활용이 가능, a 혹은 button에도 줄 수 있음
   3. 애니메이션 효과를 무한 반복 할 수 있음 (transition은 단 한번만 가능)  
*/
@keyframes scroll_move {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,-30px);}
    100% {transform: translate(0,0);}
}

@media screen and (max-width:1440px){
    .visual h2 {
        left: 20px;
    }
}
@media screen and (max-width:1200px){
    .visual h2 {
        font-size: 50px;
    }
}
@media screen and (max-width:1000px){
    .visual h2 {
        font-size: 40px;
    }
}
@media screen and (max-width:640px){    
    /* 만약 fullpage를 모바일에서 해제하고 높이를 제한해야한다.
      section 클래스를 준 요소 말고 그 안에 있는 요소한테 
      높이를 줘야함. */
    .visual .inner {
        height: 330px;
    }
    .visual h2 {
        font-size: 25px;
    }
}

.count {
    /* padding: 50px 0 0 0;  */
    /* 컨텐츠가 haeder의 높이와 무관하게 위아래 가운데 배치되어 
       약간의 상단 여백이 부족해 보임 - 그래서 상단 여백을 추가로 줌 */
    background-color: #DA281F;
    color: #FFF;
}
.count .tit {
    margin: 0 0 0 8.6%; /* 120/1400*100 = 1400px 영역에서 여백의 비율 */
}
.count .tit h2 {
    margin: 0 0 29px 0;
    font-size: 40px;
    line-height: 1.2;
}
.count .tit h2 strong {
    font-weight: 700;
}
.count .tit p span {
    display: block;
}
.count .rate {
    position: absolute;
    left: calc(50% + 140px);
    top: 50%; 
    width: 50%;
    transform: translate(0,-50%);
}
.count .rate li {
    position: relative;
    margin: 0 0 70px 0;
}
.count .rate li:last-child {
    margin-bottom: 0;
}
.count .rate li::after {
    position: absolute;
    left: 0;
    top: 93px;
    z-index: -1; /* 어쩔수없이 position:absolute이지만 다른 요소보다 아래 */
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
.count .rate li .num strong {
    display: inline-block;
    background-color: #DA281F;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}
.count .rate li .num span {
    display: inline-block;
    position: relative;
    padding: 0 10px 0 5px;
    background-color: #DA281F;
    font-size: 30px;
    font-weight: 700;
}
/* .count .rate li .num span::after {
    position: absolute;
    left: 140%;
    top: 33px;
    width: 10000%;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    content: "";
} */

@media screen and (max-width:1200px){
    .count .tit {
        margin: 0; /* 120/1400*100 = 1400px 영역에서 여백의 비율 */
    }
    .count .tit h2 {
        font-size: 35px;
    }
    .count .rate {
        left: 50%;
    }
    .count .rate li::after {
        top: 84px;
    }
    .count .rate li .num strong {
        font-size: 60px;
    }
    .count .rate li .num span {
        font-size: 25px;
    }
}
@media screen and (max-width:900px){
    .count .tit {
        margin: 0 0 40px 0; /* 120/1400*100 = 1400px 영역에서 여백의 비율 */
    }
    .count .tit p span {
        display: inline;
    }
    .count .rate {
        position: relative;
        left: auto;
        top: auto;
        width: calc(100% + 20px);
        transform: translate(0,0);
    }
    .count .rate li {
        margin: 0 0 40px 0;
    }
    .count .rate li::after {
        top: 82px;
    }
    
}
@media screen and (max-width:750px){
    .count .tit {
        margin: 0 0 30px 0; /* 120/1400*100 = 1400px 영역에서 여백의 비율 */
    }
    .count .tit h2 {
        font-size: 25px;
    }
    .count .rate li {
        margin: 0 0 30px 0;
    }
    .count .rate li::after {
        top: 67px;
    }
    .count .rate li .num strong {
        font-size: 45px;
    }
    .count .rate li .num span {
        font-size: 20px;
    }
    
}
@media screen and (max-width:640px){
    .count {
        padding: 40px 0 33px 0;
     }
     .count .tit {
        margin: 0 0 20px 0; /* 120/1400*100 = 1400px 영역에서 여백의 비율 */
    }
    .count .tit h2 {
        margin: 0 0 22px 0;
        font-size: 20px;
    }
    .count .rate li .num strong {
        font-size: 30px;
    }
    .count .rate li .num span {
        padding: 0 5px 0 10px;
        font-size: 13px;
    }
    .count .rate li {
        margin: 0 0 23px 0;
    }
    .count .rate li::after {
        top: 51px;
    }
}

.biz {
    background-color: #F5E9DD;
}
.biz .biz_wrap {
    display: flex;
    align-items: center;
}
.biz img {
    width: calc(100% - 620px);/* wrapper 1440, 그안에 이미지가 780 = 780/1440*100 = 55.71%*/
    margin: 0 60px 0 0;
}
.biz .inner {
    display: block;
    width: 480px; /* 480/1440*100 =  33.33%*/
}
.biz a strong {
    font-size: 20px;
}
.biz a h2 {
    margin: 10px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
}
.biz a p {
    font-size: 20px;
}
.biz a .exp {
    margin: 20px 0 20px 0;
    font-size: 20px;
}
.biz a .more {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #3D3D3D;
    border-radius: 50%; /* 정사격형에 border-radius: 50%를 주면 사이즈에 상관없이 원이 됨 */
    transition: 0.5s;
}
.biz a .more::before {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #3D3D3D;
    content: "";
}
.biz a .more::after {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 1px;
    height: 50%;
    background-color: #3D3D3D;
    content: "";
}
.biz a:hover .more {
    transform: rotate(270deg);
}
@media screen and (max-width:1200px){
    .biz img {
        width: calc(100% - 620px);
        margin: 0 50px 0 0;
    }
    .biz .inner {
        width: 400px; 
    }
    .biz a strong {
        font-size: 18px;
    }
    .biz a h2 {
        font-size: 25px;
    }
    .biz a p {
        font-size: 15px;
    }
    .biz a .exp {
        margin: 20px 0 0 0;
        font-size: 15px;
    }
    .biz a .more {
        display: none;
    }
}
@media screen and (max-width:1000px){
    .biz img {
        width: calc(100% - 550px);
        margin: 0 30px 0 0;
    }
    .biz .inner {
        width: 350px; 
    }
    .biz a strong {
        font-size: 15px;
    }
    .biz a h2 {
        margin: 10px 0 10px 0;
        font-size: 20px;
    }
    .biz a p {
        font-size: 14px;
    }
    .biz a .exp {
        font-size: 14px;
    }
}
@media screen and (max-width:850px){
    
    .biz a strong {
        font-size: 15px;
    }
    .biz a p {
        font-size: 13px;
    }
    .biz a .exp {
        margin: 10px 0 0 0;
        font-size: 13px;
    }
    .biz a .more {
        display: none;
    }
}
@media screen and (max-width:800px){
    .biz {
        padding: 30px 0 65px 0;
    }
    .biz .biz_wrap {
        display: block;
    }
    .biz img {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .biz .inner {
        width: auto;
    }
}

.news {
    background-color: #DA281F;
    color: #FFF;
}
.news .cnt_wrap {
    position: relative;
}
.news h2 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 700;
}
.news .list ul li a {
    display: block;
}
.news .list ul li a span {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.news .list ul li a span img {
    width: 100%;
    transition: 0.5s;
}
.news .list ul li a:hover span img {
    transform: scale3d(1.2,1.2,1);
}
.news .list ul li a strong {
    display: block;
    margin: 10px 0 0 0;
    font-size: 20px;
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
}
.news .more {
    position: absolute;
    right: 20px;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%; /* 정사격형에 border-radius: 50%를 주면 사이즈에 상관없이 원이 됨 */
    transition: 0.5s;
    font-size: 0;
    line-height: 0;
    transition: 0.5s;
}
.news .more::before {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #fff;
    content: "";
}
.news .more::after {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 1px;
    height: 50%;
    background-color: #fff;
    content: "";
}
.news .more:hover {
    transform: rotate(270deg);
}
.news .list .btn_paging {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}
.news .list .btn_paging span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #2D2D2D;
    background-color: #fff;
    opacity: 1;
}
.news .list .btn_paging span.swiper-pagination-bullet-active {
    background-color: #2D2D2D;
}

@media screen and (max-width:1200px){
    .news h2 {
        font-size: 25px;
    }
    .news .list ul li a strong {
        font-size: 18px;
    }
    .news .more {
        top: 0;
    }
}
@media screen and (max-width:900px){
    .news .list ul li a strong {
        font-size: 15px;
    }
    .news .more {
        top: 0;
    }
}
@media screen and (max-width:640px){
    .news {
        padding: 30px 0 30px 0; 
    }
    .news h2 {
        font-size: 20px;
        margin: 0 60px 20px 0;
    }
    .news .list ul li a strong {
        font-size: 13px;
    }
}

.support {
    background-color: #F5E9DD;
}
.support .support_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support .inner {
    width: 33.21%; /* 465/1400*100 = 33.21% */
    margin-left: 5.714%;
}
.support h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
}
.support  h2 strong {
    display: block; /* 줄바꿈 */
    font-weight: 700;
}
.support  h2 span {
    display: block;
}
.support ul {
    width: 47.14%; 
    /* ul을 감싸는 영역  support_wrap의 pc버전 사이즈가 1400px
       그럼 1400px에서 ul의 pc버전 사이즈 660은 몇 퍼? - 660/1400*100 = 47.14% */
    margin-right: 60px;
}
.support ul li {
    float: left;
    /* 
        중간 여백을 고정 px로 지정 나머지 li의 넓이는 % 
        (100%/li의 갯수) - (한줄의 여백의 합)/(li의 갯수*) 
        (100/2) - (60/2) = calc(50% - 30px) 
    */
    width: calc(50% - 30px);
    margin: 0 60px 60px 0;
}
.support ul li a {
    display: block;
    position: relative;
    height: 170px;
    padding: 30px 10% 0 10%;
    /* 
        li의 넓이가 % (높이는 고정) - 그 안에 여백도 %인게 좋음 
        (일부, 원래 여백이 작을 경우 고정값) 
        넓이가 300px에서 여백 30px은 몇 %인가? - 30/300*100 = 10% 
        높이는 px로 줬기 때문에 위에 padding값을 px - 높이는 %로 하기가 쉽지 않음
    */
    background-color: #FFF;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.support ul li a::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 39px;
    height: 38px;
    /* before와 after에 배경이미지를 넣는 경우 반드시 width/height가 있어야 함 없으면 안나타남 */
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}
.support ul li.list01 a::after {
    background-image: url(../images/main/support_icon1.svg);
}
.support ul li.list02 a::after {
    background-image: url(../images/main/support_icon2.svg);
}
.support ul li.list03 a::after {
    background-image: url(../images/main/support_icon3.svg);
}
.support ul li.list04 a::after {
    background-image: url(../images/main/support_icon4.svg);
}
.support ul li a span {
    display: block;
    margin: 0 0 5px 0;
}
.support ul li a strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
/* 왼쪽요소와 위아래 정렬을 유지하기 위해서 왼쪽카드와 오른쪽 카드의 
   위치 차이값을 한쪽 요소에 몰아주지 않고  반반 부담
   높낮이 차이없이 100px이면 왼쪽 요소는 50부담, 오른쪽 요소는 50부담 
   transform:traslate로 위치 조정 (서로에게 영향을 주지 않고 위치를 조정하는 방법) */
.support ul li:nth-child(1),
.support ul li:nth-child(3) {
    transform: translate(0, -50px);
}
.support ul li:nth-child(2),
.support ul li:nth-child(4) {
    margin-right: 0;
    transform: translate(0, 50px);
}
.support ul li:nth-child(3),
.support ul li:nth-child(4) {
    margin-bottom: 0;
}
/* 마우스 오버시 색상변경 & active 클래스 */
.support ul li a:hover,
.support ul li.active a {
    background-color: #DA281F;
    color: #FFF;
}
.support ul li.list01 a:hover::after,
.support ul li.list01.active a::after {
    background-image: url(../images/main/support_icon1_w.svg);
}
.support ul li.list02 a:hover::after,
.support ul li.list02.active a::after {
    background-image: url(../images/main/support_icon2_w.svg);
}
.support ul li.list03 a:hover::after,
.support ul li.list03.active a::after {
    background-image: url(../images/main/support_icon3_w.svg);
}
.support ul li.list04 a:hover::after,
.support ul li.list04.active a::after {
    background-image: url(../images/main/support_icon4_w.svg);
}
/* 마우스 오버효과 - 왼쪽 상단으로 이동 */
.support ul li a {
    transition: transform 0.5s,background-color 0.2s, box-shadow 0.5s, color 0.2s;
}
 .support ul li a::after {
    transition: 0.2s;
}
.support ul li a:hover {
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}
@media screen and (max-width:1440px){
    .support  h2 strong {
        display: inline;
    }
    .support  h2 span {
        display: inline;
    }
}
@media screen and (max-width:1200px){
    .support .inner {
        width: 40%; 
    }
    .support h2 {
        font-size: 25px;
    }
    .support ul li {
        margin: 0 40px 40px 0;
    }
    .support ul li a {
        height: 150px;
    }
    .support ul li a::after {
        right: 20px;
        bottom: 20px;
    }
    .support ul li a span {
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
    }
    .support ul li a strong {
        font-size: 25px;
    }
}
@media screen and (max-width:1000px){   
    .support {
        padding: 31px 0 51px 0;
    }
    .support .support_wrap {
        display: block;
    }
    .support .inner {
        width: auto; 
        margin-left: 0;
        margin-bottom: 20px;
    }
    .support ul {
        width: auto; 
        margin-right: 0;
    }
    .support ul li {
        float: left;
        /* 
            중간 여백을 고정 px로 지정 나머지 li의 넓이는 % 
            (100%/li의 갯수) - (한줄의 여백의 합)/(li의 갯수*) 
            (100/2) - (60/2) = calc(50% - 30px) 
        */
        width: 48%;
        margin: 0 20px 20px 0;
    }
    .support ul li:nth-child(2),
    .support ul li:nth-child(4) {
        margin-right: 0;
    }
    .support ul li a {
        height: 130px;
        padding: 30px 70px 0 30px;
    }
    .support ul li a strong {
        font-size: 20px;
    }
    /* 왼쪽요소와 위아래 정렬을 유지하기 위해서 왼쪽카드와 오른쪽 카드의 
       위치 차이값을 한쪽 요소에 몰아주지 않고  반반 부담
       높낮이 차이없이 100px이면 왼쪽 요소는 50부담, 오른쪽 요소는 50부담 
       transform:traslate로 위치 조정 (서로에게 영향을 주지 않고 위치를 조정하는 방법) */
    .support ul li:nth-child(1),
    .support ul li:nth-child(3) {
        transform: translate(0,0);
    }
    .support ul li:nth-child(2),
    .support ul li:nth-child(4) {
        transform: translate(0,0);
    }
    .support ul li:nth-child(3) {
        margin-bottom: 20px;
    }
    /* 마우스 오버효과 - 왼쪽 상단으로 이동 */
    .support ul li a {
        transition: transform 0.5s,background-color 0.2s, box-shadow 0.5s, color 0.2s;
    }
     .support ul li a::after {
        transition: 0.2s;
    }
    .support ul li a:hover {
        transform: translate(-5px, -5px);
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    }
}
@media screen and (max-width:640px){
    .support h2 {
        margin: 0 0 10px 0;
        font-size: 18px;
    }
    .support  h2 strong {
        display: block;
        font-size: 18px;
    }
    .support ul {
        width: auto; 
        /* ul을 감싸는 영역  support_wrap의 pc버전 사이즈가 1400px
           그럼 1400px에서 ul의 pc버전 사이즈 660은 몇 퍼? - 660/1400*100 = 47.14% */
        margin-right: 0;
    }
    .support ul li {
        float: none;
        /* 
            중간 여백을 고정 px로 지정 나머지 li의 넓이는 % 
            (100%/li의 갯수) - (한줄의 여백의 합)/(li의 갯수*) 
            (100/2) - (60/2) = calc(50% - 30px) 
        */
        width: auto;
        margin: 0 0 20px 0;
    }
    .support ul li a {
        height: 100px;
        padding: 20px 70px 0 20px;
    }
    .support ul li a::after {
        right: 20px;
        bottom: 20px;
        transform: scale3d(0.8,0.8,1);
    }
}

/* fullpage 공통사항 */


/* 오른쪽 네비게이션 디자인 변경 
   선택자가 #fp-nav ul li 인 것과 body #fp-nav ul li 인 것이 동시에 존재한다면
   body 부터 선언한 요소가 먼저 적용됩니다. (단, 나머지 선택자는 동일)*/
body #fp-nav ul li {
    width: 12px;
    height: 12px;
    margin: 10px;
}
body #fp-nav ul li:last-child { /* footer 삭제 */
    display: none;
}
body #fp-nav ul li a span,
body #fp-nav ul li:hover a span {
    height: 100%;
    width: 100%;
    background: #FFF;
    left: 0;
    top: 0;
    margin: 0;
}
body #fp-nav ul li a.active span, 
body #fp-nav ul li:hover a.active span {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #1D1D1D;
}
body #fp-nav ul li .fp-tooltip {
    overflow: visible;
    top: -6px;
    width: auto;
    max-width: max-content; /* 콘텐츠 있는 만큼 다 */
    padding: 2px 10px;
    background-color: #1D1D1D;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
}
body #fp-nav ul li .fp-tooltip::after {
    position: absolute;
    right: -4px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #1D1D1D;
    transform: rotate(45deg);
    content: "";
}
/* 어두운 툴팁 */
body #fp-nav.black ul li a span,
body #fp-nav.black ul li:hover a span {
    background: #CCCCCC;
}
body #fp-nav.black ul li a.active span, 
body #fp-nav.black ul li:hover a.active span {
    background: #ED1B2D;
}
body #fp-nav.black ul li .fp-tooltip {
    background-color: #ED1B2D;
    color: #fff;
}
body #fp-nav.black ul li .fp-tooltip::after {
    background-color: #ED1B2D;
}

.fp-watermark { /* fullpage copyright 삭제 */
    display: none;
}


/* 모바일에서는 fullpage 적용 안하는데 발생하는 오류 수정 */
body .section .fp-overflow {
    overflow: visible;
    padding: 100px 0;
    /* fullpage에서 콘텐츠 영역을 fp-overflow로 잡는데 그 영역으로 이동된
       컨텐츠가 있으면 그 영역을 스크롤 한다고 판단해서 다음 section으로 
       스크롤을 넘기지 않음. 그래서 콘텐츠를 감싸는  fp-overflow한테 
       (fullpage.js가 맘대로 만든 div) 상하단에 임의의 여백 100px을 줌 
       (더 많이 줘도 됨) 만약에 영역 밖으로 나가는 콘텐츠가 있으면 fp-overflow 
       영역을 꼭 확인해야함.*/
}

body .section.fp-auto-height .fp-overflow,
body.fp-responsive .section  .fp-overflow  {
    /* footer처럼 높이를 자유롭게 설정하는 section은 임의의 상 하단 여백 안줌 */
    /* 모바일에서 fullpage를 해제한 경우에도 여백을 주지 않기 */
    padding: 0;
}
.fp-responsive .fp-is-overflow.fp-section {
    min-height: auto !important;
    /*  
        fullpage-js에서 fullpage를 안할때 body에 주는 클래스명 fp-responsive
        fullpage.js에서 640이하일때는 fullpage 적용하지 않도록 함.
        근데 이때 min-height가 해제가 않되서 이전 fullpage 높이가 잡힘ㄴ
        그래서 min-height:auto;를 줘야하는 상황
        visual에 min-height: auto; 적용되지 않음 (css 적용 우선순위에 밀려서)
        이때 절대 내가 적용하는 값을 먼저 적용하게 하는게 
        min-height: auto !important; 

        이렇게 플러그인을 써서 내가 주지않을 스타일을 고쳐서 쓸때 !important;
    */
}

@media screen and (min-width:640px){
    /* visual이 로딩 됐을때 애니메이션 - 글자가 밑에서 위로 나타남 */
    .visual h2 {
        transition: 0.5s;
        opacity: 0;
        transform: translate(0, -200px);
    }
    .visual.fp-completely h2 {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* count 애니메이션 */
    .count .tit {
        transition: 1s;
        opacity: 0;
        transform: translate(-500px, 0);
    }
    .count.fp-completely .tit {
        opacity: 1;
        transform: translate(0, 0);
    }

    .biz img {
        transition: 1s;
        opacity: 0;
        transform: translate(0, -200px);
    }
    .biz .inner {
        transition: 1s;
        transition-delay: 0.5s; /* 변환을 0.5초 이후에 함 */
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .biz.fp-completely img {
        opacity: 1;
        transform: translate(0, 0);
    }
    .biz.fp-completely .inner {
        opacity: 1;
        transform: translate(0, 0);
    }
    .news h2 {
        transition: 1s;
        opacity: 0;
        transform: translate(0, -200px);
    }
    .news ul li:nth-child(1) {
        transition: 1s;
        transition-delay: 0.5s; /* 변환을 0.5초 이후에 함 */
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .news ul li:nth-child(2) {
        transition: 1s;
        transition-delay: 0.6s; /* 변환을 0.5초 이후에 함 */
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .news ul li:nth-child(3) {
        transition: 1s;
        transition-delay: 0.7s; /* 변환을 0.5초 이후에 함 */
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .news ul li:nth-child(4) {
        transition: 1s;
        transition-delay: 0.8s; /* 변환을 0.5초 이후에 함 */
        opacity: 0;
        transform: translate(-200px, 0);
    }
    .news.fp-completely h2 {
        opacity: 1;
        transform: translate(0, 0);
    }
    .news.fp-completely ul li:nth-child(1) {
        opacity: 1;
        transform: translate(0, 0);
    }
    .news.fp-completely ul li:nth-child(2) {
        opacity: 1;
        transform: translate(0, 0);
    }
    .news.fp-completely ul li:nth-child(3) {
        opacity: 1;
        transform: translate(0, 0);
    }
    .news.fp-completely ul li:nth-child(4) {
        opacity: 1;
        transform: translate(0, 0);
    }
}