*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Malgun Gothic','맑은고딕';
    font-size: 13px;
    color: #333333;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 100;
}
.header .logo {
    height: 100px;
    float: left;
}
.header .logo a {
    display: block;
}
.header nav {
    height: 100px;
}
.header nav > ul {
    float: right;
}
.header nav > ul > li {
    position: relative;
    float: left;
    width: 120px;
    text-align: center;
}
.header nav > ul > li > a {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 100px;
}
.header nav > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 130px;
    background-color: #fff;
}
.header nav > ul > li > ul > li {
    padding: 5px 0 5px 0;
}
.header nav > ul.open > li > ul {
    display: block;
}
.header nav > ul > li > a:hover {
    background-color: #333333;
    color: #fff;
}
.header nav > ul > li > ul > li:hover {
    background-color: #333333;
    color: #fff;
}

.slide {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.slide ul {
    width: 3600px;
    position: absolute;
    left: 0;
    top: 0;
}
.slide ul li {
    float: left;
}


.contents {
    display: flex;
    width: 1200px;
    height: 200px;
}
.contents .bbs {
    position: relative;
    width: 400px;
    padding-top: 20px;
}
.contents .bbs > ul > li {
    float: left;
    margin-right: 10px;
}
.contents .bbs > ul > li > a {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #666;
}
.contents .bbs > ul > li.active > a {
    color: #1d1d1d;
}
.contents .bbs > ul > li .detail {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
.contents .bbs > ul > li.active .detail {
    display: block;
    margin-top: 5px;
}
.contents .bbs .notice ul li a {
    display: block;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.contents .bbs .notice ul li a span {
    float: right;
    color: #666;
}
.contents .bbs .gallery .detail ul li {
    float: left;
    margin-top: 5px;
    width: 33.33%;
    text-align: center;
}
.contents .bbs .gallery .detail ul li a {
    display: block;
}
.contents .baner {
    margin: 0 30px;
    width: 370px;
}
.contents .baner a {
    display: block;
}
.contents .baner a img {
    padding: 20px 0 0 0;
}
.contents .link {
    height: 370px;
}
.contents .link a {
    display: block;
}
.contents .link a img {
    padding: 20px 0 0 0;
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 200;
    padding: 40px 30px 30px 30px;
    width: 500px;
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;
    transform: translateX(-50%);
}
.modal h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-size: 700;
}
.modal button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: #fff;
    color: #333333;
}

.footer {
    height: 100px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.footer .f_logo {
    float: left;
    width: 200px;
}
.footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    text-align: center;
}
.footer .inner .f_menu {
    margin: 25px 0 10px 0;
}
.footer .inner .f_menu ul li {
    float: left;
    font-size: 15px;
}
.footer .inner .f_menu ul li a {
    display: block;
    margin-right: 10px;
}
.footer .inner .copyright {
    font-size: 15px;
}

