@import "_var.scss";
@import "_default.scss";
@import "_common.scss";

/*
    scss 내에서 import할 default와 common 등의 파일은 
    파일명 앞에 _(언더바)를 입력하면 sass 컴파일러가 해당 파일은 컴파일 하지 않음
    main.css나 sub.css에서 default, common을 필요에 따라서 import 해서 사용하면 됨.
*/

.visual {
    position: relative;
    .tit {
        position: absolute;
        left: calc(50% - 700px);
        top: 50%;
        z-index: 10;
        color: $w_tit_color;
        transform: translate(0, -50%);
        strong {
            display: block;
        }
        h2 {
            @include font_serif; 
            /* mixin으로 선언한 font_serif 스타일을 불러오는 명령 
               @mixin font_serif 로 선언된 스타일이 그대로 이 안에 들어오는 것 
               단, 무조건 @mixin이 @include보다 먼저 선언되어 있어야 함 */
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
        }
    }
    .popup { /* .visual .popup */
        height: 100vh;
        ul {
            li {
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale3d(1.1,1.1,1);
                    transition: 2s;
                }
                /* 현재 나타나는 팝업에 swiper가 주는 class명 */
                &.swiper-slide-active {
                    img {
                        transform: scale3d(1,1,1);
                    }
                }
            }
        }
        .btn_wrap {
            display: flex;
            align-items: center;
            position: absolute;
            left: calc(50% - 700px);
            top: calc(50% + 110px);
            z-index: 10;
            .btn_paging {
                display: flex; 
                /* span이 여러개 발생해도 한줄로 나타남 
                - 단, 내가 준 넓이보다 작게 구현될 수도 있음 */
                font-size: 0;
                line-height: 0;
                span {
                    opacity: 0.5;
                    width: 70px;
                    height: 4px;
                    background-color: #FFF;
                    border-radius: 0;
                    /* li:last-child 의 경우 아래와 같이 &로 표기
                        li {
                            &:last-child {  }
                        }
                    */
                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                    }
                }
            }
            .btn_stop {
                width: 7px;
                height: 4px;
                margin-left: 5px;
                background-image: url(/dldldld/bntailor/images/main/visual_btn_stop.svg);
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                line-height: 0;
                &.play { /* .btn_stop.play */
                    background-image: url(/dldldld/bntailor/images/main/visual_btn_play.svg);
                }
            }
        }
    }
}
@media screen and (max-width:1440px){
    .visual {
        .tit {
            left: 20px;
        }
        .popup { 
            .btn_wrap {
                left: 20px;
            }
        }
    }
}
@media screen and (max-width:1000px){
    .visual .tit h2 {
        font-size: 40px;
    }
}
@media screen and (max-width:640px){
    .visual {
        .tit {
            left: 50%;
            width: calc(100% - 40px);
            transform: translate(-50%, -50%);
            text-align: center;
            h2 {
                font-size: 30px;
            }
        }
        .popup { /* .visual .popup */
            .btn_wrap {
                left: 50%;
                top: calc(50% + 90px);
                transform: translate(-50%, 0);
                .btn_paging {
                    span {
                        width: 40px;
                    }
                }
                .btn_stop {
                    display: none;
                }
            }
        }
    }
}

.fabric {
    position: relative;
    padding: 0 0 338px 0;
    color: $basic_color;
    h2 {
        @include zindex_top;
        padding: 256px 0 35px 0;
        font-size: 30px;
    }
    .tit {
        @include zindex_top;
        @include font_serif;
        font-size: 40px;
        font-weight: 700;
    }
    .cnt {
        @include zindex_top;
        margin: 42px 0 60px 0;
        width: 640px;
    }
    .tag {
        @include zindex_top;
        color: $point_color;
        span {
            display: inline-block;
            margin: 0 15px 0 0;
        }
    }
    .bg {
        position: absolute;
        overflow: hidden; 
        /* bg영역안에는 bg보다 더 큰 이미지가 포함됨, 
           이미지는 스크롤에 따라 bg영역 안에서 이동할 예정. 
           그래서 overflow:hidden 영역 밖에 나간 이미지는 안보이게함 */
        left: calc(50% - 100px);
        top: 85px;
        z-index: 1;
        width: 800px;
        height: 818px;
        img {
            display: block;
            width: 120%;
            height: 120%;
            object-fit: cover;
        }
    }
}
@media screen and (max-width:1440px){
    .fabric .bg {
        left: 50%;
    }
    .fabric .tit {
        font-size: 37px;
    }
}
@media screen and (max-width:1300px){
    .fabric h2 {
        font-size: 28px;
        padding: 256px 0 30px 0;
    }
    .fabric .tit {
        font-size: 33px;
    }
    .fabric .cnt {
        width: 580px;
        font-size: 14px;
    }
}
@media screen and (max-width:1200px){
    .fabric h2 {
        font-size: 25px;
        padding: 256px 0 25px 0;
    }
    .fabric .tit {
        font-size: 28px;
    }
    .fabric .cnt {
        width: 500px;
        font-size: 13px;
    }
}
@media screen and (max-width:1050px){
    .fabric h2 {
        font-size: 23px;
        padding: 256px 0 20px 0;
    }
    .fabric .tit {
        font-size: 25px;
    }
    .fabric .cnt {
        width: 450px;
        font-size: 13px;
    }
}
@media screen and (max-width:850px){
    .fabric .cnt {
        font-size: 13px;
        width: 630px;
    }
    .fabric .bg {
        display: none;
    }
}
@media screen and (max-width:640px){
    .fabric {
        padding: 0 0 70px 0;
        h2 {
            padding: 40px 0 0 0;
            font-size: 20px;
        }
        .tit {
            padding: 10px 0 20px 0;
            .m_no {
                display: none;
            }
        }
        .cnt {
            margin: 0 0 30px 0;
            width: auto;
            line-height: 1.6;
            height: 4.8em;
            overflow: hidden;
        }
        .bg {
            display: block;
            position: relative;
            overflow: hidden;
            left: auto;
            top: auto;
            width: auto;
            height: 241px;
            img {
                transform: translateY(0) !important; /* 애니메이션 안함 */
                width: 100%;
                height: 100%;
            }
        }
    }
}
.product {
    background-color: #483E35;  
    color: $w_tit_color;
    padding: 100px 0 110px 0;
    h2 {
        @include font_serif;
        padding: 0 0 70px 560px;
        font-size: 45px;
        font-weight: 700;
        
    }
    .list {
        @include clearfix;
        position: relative;
        .tit {
            @include font_serif;
            /* position: sticky는 감싸는 요소에 overflow;hidden이 없어야 한다.
               하지만 홈페이지 전체에 "id = wrap" 이 스타일에 overflow:hidden;이 들어감
               overflow를 주지 않고 코딩은 어려움. 그래서 sticky는 사용불가
               
               고정될 요소에 고정될때는position:fixed를 줘야함.
               fixed는 body와만 정렬 
               <div class="list">   -- realtive
                   <div class="tit"></div>   -- absolute
               </div>
               tit이 absolute일때는 realtive를 준 list를 기준으로 정렬함
               하지만 fixed로 변경되면 무조건 body랑 정렬
               정렬의 기준값이 변경됨... (left가 fixed일때랑 absolute일때랑 바뀜)
               실제 화면상에도 left의 위치는 변경x
               absolute일때와 fixed일때 위치를 동일하게 left값을 줘야함.
            */
            position: absolute; 
            left: calc(50% - 700px);
            top: 0;
            color: $w_basic_color;
            font-size: 30px;
            line-height: 1.4;

            &.fixed {
                position: fixed;
                top: 200px;
            }
            &.end {
                position: absolute;
                top: auto;
                bottom: 110px;
            }
        }
        ul {
            float: right;
            li {
                width: 360px;
                margin-bottom: 70px;
                a {
                    display: block;
                    .pic {
                        overflow: hidden;
                        height: 360px;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    h3 {
                        margin-top: -28px;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    p {
                        color: $w_basic_color;
                        margin-top: 5px;
                    }
                }
            }
            &.item1 {
                margin: 215px 0 0 120px; 
            }
        }
        .ani {
            position: absolute;
            right: calc(50% + 547px);
            bottom: calc(50% - 618px);
            width: 1000px;
            height: 1000px;
            transform: rotate(341deg);
        }
    }
}
@media screen and (max-width:1440px){
    .product h2 {
        padding: 0 0 70px 450px;
        font-size: 40px;
    }
    .product .list .tit {
        left: 0;
        font-size: 25px;
        &.fixed {
            left: 20px;
        }
    }
    .product .list ul {
        &.item1 {
            margin: 215px 0 0 80px; 
        }
    }
    .product .list ul li { 
        left: 50%;
    }
}
@media screen and (max-width:1300px){
    .product h2 {
        padding: 0 0 60px 400px;
        font-size: 35px;
    }
    .product .list{
        .tit {
            font-size: 22px;
            &.fixed {
                position: relative;
                top: auto;
                left: auto;
            }
            &.end {
                position: relative;
                bottom: auto;
            }
        }
    }
    .product .list ul {
        &.item1 {
            margin: 215px 0 0 50px; 
        }
    }
}
@media screen and (max-width:1200px){
    .product h2 {
        padding: 0 0 50px 332px;    
    }
    .product .list .tit {
        font-size: 20px;
    }
}
@media screen and (max-width:1100px){
    .product h2 {
        padding: 0 0 40px 20px;    
    }
    .product .list .tit {
        position: relative;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:1000px){
    .product h2 {
        font-size: 30px;  
    }
}
@media screen and (max-width:830px){
    .product {
        padding: 0 0 30px 0;
        h2 {
            padding: 40px 0 20px 0;
            font-size: 25px;           
        }
        .list {
            .tit {
                left: 0;
                font-size: 18px;
            }
            ul {
                float: none;
                li {
                    width: auto;
                    margin-bottom: 20px;
                    a {
                        .pic {
                            height: 150px;
                        }
                        h3 {
                            margin-top: -16px;
                            font-size: 20px;
                        }
                    }
                }
                &.item1 {
                    margin: 0; 
                }
            }
            .ani {
                display: none;
            }
        }
    }
}

.news {
    position: relative;
    margin: 0 0 280px 0;
    h2 {
        @include font_serif;
        margin: 100px 0 70px 0;
        font-size: 45px;
        font-weight: 700;
    }
    .list {
        ul {
            li {
                width: 320px;
                font-size: 0; /* 이미지 하단 여백 삭제 */
                line-height: 0;
                a {
                    display: block;
                    overflow: hidden;
                    border-radius: 30px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &:nth-child(1), &:nth-child(3), &:nth-child(5) {
                    padding: 20px;
                }
            }
        }
    }
    .bg_txt {
        @include font_serif;
        position: absolute;
        left: 0;
        top: 331px;
        color: #cccccc;
        font-size: 180px;
        font-weight: 700;
        white-space: nowrap;
        
        animation-name: bg_txt_ani;
        animation-duration: 50s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
@keyframes bg_txt_ani {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}
@media screen and (min-width:1441px){
    .news .list {
        width: calc(100% + 680px); // 320 + 320 + 40 = 680px
        margin-left: -360px !important;
    }  
}
@media screen and (max-width:1439px){
    .news h2 {
        margin: 80px 0 50px 0;
        font-size: 40px;
    }
    .news .bg_txt {
        top: 324px;
        font-size: 160px;
    }
}
@media screen and (max-width:1300px){
    .news {
        margin: 0 0 250px 0;
    }
    .news h2 {
        margin: 60px 0 40px 0;
        font-size: 35px;
    }
    .news .bg_txt {
        top: 285px;
        font-size: 140px;
    }
}
@media screen and (max-width:1199px){
    .news {
        margin: 0 0 210px 0;
    }
    .news h2 {
        margin: 60px 0 40px 0;
        font-size: 35px;
    }
    .news .bg_txt {
        top: 257px;
        font-size: 120px;
    }
}
@media screen and (max-width:1050px){
    .news {
        margin: 0 0 170px 0;
    }
    .news h2 {
        margin: 60px 0 40px 0;
        font-size: 35px;
    }
    .news .bg_txt {
        top: 232px;
    }
}
@media screen and (max-width: 1000px){
    .news {
        margin: 0 0 140px 0;
    }
    .news .bg_txt {
        top: 246px;
        font-size: 120px;
    }
}
@media screen and (max-width: 950px){
    .news {
        margin: 0 0 140px 0;
    }
    .news .bg_txt {
        top: 218px;
        font-size: 100px;
    }
}
@media screen and (max-width:849px){
    .news {
        margin: 0 0 120px 0;
    }
    .news .bg_txt {
        top: 248px;
    }
}
@media screen and (max-width:700px){
    .news {
        margin: 0 0 100px 0;
    }
    .news h2 {
        margin: 30px 0 25px 0;
        font-size: 25px;
    }
    .news .list ul li {
        width: 152px;
    }
    .news .bg_txt {
        font-size: 100px;
        top: 302px;
    }
    .news .list ul li {
        &:nth-child(1), &:nth-child(3), &:nth-child(5) {
            padding: 0;
        }
    }
}
@media screen and (max-width:640px){
    .news .bg_txt {
        font-size: 60px;
        top: 314px;
    }
}
@media screen and (max-width:550px){
    .news .bg_txt {
        font-size: 60px;
        top: 230px;
    }
}