@import "_var.scss";
@import "_default.scss";
@import "_common.scss";

/* 서브 공통 레이아웃 */

.sub_visual {
    position: relative;
    height: 657px;
    margin: 0 0 18px 0;
    
    .sub_visual_bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 715px; /* clip-path로 위치가 정확하지 않아 배경을 별도의 요소에 줌 */
        background-image: url(/dldldld/bntailor/images/sub/sub_visual1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        clip-path: url(#sub_visual_path);
        /* html에서 입력한 svg clipPath에 지정된 id값을 url로 연결하면 해당요소의 path 값이 적용됨 
            배경이 표시될 영역으로 활용됨.
            path로 직접 경로를 사용했는데 안되는 경우, svg path의 크기를 변경해야 하는 경우
            이런 방식으로 사용함.
        */
    }
    &.sub_bg1 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual1.png);
    }
    &.sub_bg2 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual2.png);
    }
    &.sub_bg3 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual3.png);
    }
    &.sub_bg4 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual4.png);
    }
    &.sub_bg5 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual5.png);
    }
    &.sub_bg6 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual6.png);
    }
    &.sub_bg7 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual7.png);
    }
    &.sub_bg8 .sub_visual_bg {
        background-image: url(/dldldld/bntailor/images/sub/sub_visual8.png);
    }
    .sub_visual_path {
        position: absolute;
        right: 0;
        border: 0;
        svg {
            width: 1px;
            height: 1px;
        }
    }
    .location {
        display: flex;
        padding: 227px 0 0 0;
        color: $w_basic_color;
        span {
            position: relative;
            margin-right: 20px;
            &::after {
                position: absolute;
                right: -14px;
                top: 9px;
                width: 6px;
                height: 9px;
                background-color: rgba(255,255,255,0.8);
                clip-path: polygon(15% 0.3%, 51.1% 0%, 80% 51%, 51.1% 100%, 15% 100%, 51.4% 50%);
                /* 
                   이미지로 하는 것이 아니라 svg를 이용해서 아이콘을 그리는데, 여러번 반복햇허 들어가는 경우 
                   css에서 원하는 도형의 크기와 넓이를 주고, 배경색으로 아이콘의 색상을 주고 
                   clip-path: 로 patg 값을 줌.. 
                   장점은 css로 여러요소를 선택해서 도형을 그릴 수 있다는 장점
                   단점은 사이즈 수정이 불가능함 (단,%로 path를 그릴 것은 가능)
                   - 작은 것은 적용 안됨..  
                   - 브라우저 호환성이 떨어짐(안되는 브라우저가 있음)
                   - path를 그리는 방법이 많은데.. 일부는 적용이 안됨(html에서는 되도 css에서는 안됨)
                */
                content: "";
            }
            &:last-child::after {
                display: none;       
            }
           
        }
    }
    .tit {
        @include font_serif;
        color: $w_tit_color;
        font-size: 60px;
        font-weight: 700;
    }
}
@media screen and (max-width:1000px){
    .sub_visual {
        height: 350px;
        
        .sub_visual_bg {
            height: 100%; /* clip-path로 위치가 정확하지 않아 배경을 별도의 요소에 줌 */
            clip-path: none;
        }
        .location {
            padding: 162px 0 0 0;
            span {
                margin-right: 16px;
                &::after {
                    right: -12px;
                    top: 6px;
                    width: 6px;
                    height: 9px;       
                }
            }
        }
        .tit {
            font-size: 40px;
        }
    }
}

.lnb {
    height: 80px;
    .lnb_wrap {
        ul {
            li {
                float: left;
                a {
                    display: block;
                    padding: 0 28px;
                    font-size: 30px;
                    color: #CCCCCC;
                    
                }
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}