@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body, section, p, div, ul ,li, h1, h2, h3, h4, h5, h6, nav, button, header, footer { 
    padding: 0;
    margin: 0;
    /* body, section 등의 모든 태그의 모든 여백 삭제 */
}
ul, li {
    list-style: none; /* ul 태그 앞에 동그라미 삭제 */
}
em, address {
    font-style: normal;
    /* em태그가 기본적으로 글자가 기울어져있음. 이를 해결 */
}
button {
    background-color: transparent; /* 배경 투명*/
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer; /* 마우스를 오버하면 손바닥모양으로 변경*/
}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
body {
    min-width: 1280px;/* wrapper에서 준 넓이를 body에 최소 넓이로 줌 */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color:#3d3d3d;
    letter-spacing: -0.05em;
}
a {
    color: inherit;
    /* 브라우저가 정의하는 파란색은 적용하지 않고, 부모요소가 정의한 색상을 따르겠다는 뜻*/
    text-decoration: none;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
header { /* header 영역은 대부분 높이를 입력함 */
    height: 100px;
}
header h1{
    float: left;
    margin: 23px 0 0 0;
}
header nav {
    float: right;
    margin: 11px 0 0 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block; 
    /* a가 인라인 요소라서 padding을 적용하기 위해서 */
    padding: 23px;
    color: #1d1d1d;
    font-size: 20px;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center; 
    background-repeat: no-repeat;
    height: 750px;
}
.visual h2 {
    display: none; /* 해당 태그를 사용하지 않은 것처럼 숨김 - 공간을 차지하지 않음*/
}
.visual strong {
    display: block; 
    /* strong 인라인태그라서 margin이 적용 x 그래서 block요소로 변경함*/  
    padding: 252px 0 7px 0; /* margin을 줬을 때 이상하면  padding 사용*/
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    /* 1.display - 요소가 보이는지 여부 overflow 2.position 3. width/height 
    4.padding 5.margin 6.border 7.background 8.color 9.font의 모든 것 */
}
.visual p {
    color: #ffffff;
    line-height: 1.2;
    font-size: 50px;
}
.visual p em {
    font-weight: 700;
}
.promotion .art {
    margin: 135px 0 60px 0;
}
.promotion .art img {
    float: left;    
}
.promotion .art inner {
    float: left;
    margin: 52px 0 0 90px;
}
/* 두 요소에 float:right를 주면 코딩순서와 역순으로 요소들이 오른쪽에 정렬*/
.promotion .lee {
    margin: 0 0 135px 0;    
}
.promotion .lee img {
    float: right;
}
.promotion .lee inner {
    float: right;
    margin: 52px 90px 0 0;
}
.promotion h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;
}
.promotion p {
    margin: 30px 0 50px 0;
}
.promotion p strong {
    display: block;
    margin: 0 0 10px 0;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    
}
.promotion a {
    display: inline-block;
    float: left;
    padding: 10px 19px;
    margin: 0 4px 0 0;
    border: 1px solid #3D3D3D;
}
.bbs {
    background-image: url(../images/bbs_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.bbs .notice {
    /* notice 글자는 대부분 흰색 - 내부요소에 스타일을 상속 */
    color: #ffffff;
}
.bbs .notice .tit {
    float: left ;
    margin: 100px 0 0 0;
}
.bbs .notice .tit h2 {
    font-size: 50px;
    font-weight: 700;
}
.bbs .notice .tit a {
    display: inline-block;
    float: left;
    padding: 10px 19px;
    border: 1px solid #ffffff;
}
.bbs .notice .tit p {
    margin: 20px 0 25px 0;
}
.bbs .notice ul {
    float: right;
    width: 770px;
    margin: 105px 0 0 0;
}
.bbs .notice ul li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.bbs .notice ul li.first {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.bbs .notice ul li a {
    padding: 18px 20px 18px 18px;
}
.bbs .notice ul li a strong {
    float: left;
    font-size: 20px;
    font-weight: 400;
}
.bbs .notice ul li a span {
    float: right;
    margin: 3px 0 0 0;
    color: rgba(255,255,255,0.7);
}
.bbs .movie {
    margin: 140px 0 0 0;
}
.bbs .movie h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.bbs .movie ul li {
    float: left;
    width: 400px;
    margin: 0 40px 0 0;
}
.bbs .movie ul li a {
    display: block;
}
.bbs .movie ul li a span {
    display: block;
}
.bbs .movie ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

footer {
    overflow: hidden;  /* wrapper에서 준 넓이를 body에 최소 넓이로 줌  - 가로스크롤을 해도 배경이 정상적으로 나오게 처리 */
    margin: 80px 0 0 0;
    background-color: #0a0a0a;
    color: rgba(255,255,255,0.8);
}
footer .inner {
    float: left;
    margin: 40px 0 50px 0;
}
footer .fnav li {
    float: left;
}
footer .fnav li a {
    display: block;
    padding: 0 10px;
}
footer .fnav li.privacy a {
    /* li중에서 pricacy라는 클래스명을 갖은 li에 내부에 있는 a */
    padding-left: 0;
    font-weight: 700;
}
footer .info {
    margin: 20px 0 8px 0;
}
footer .info address {
    display: inline;
}
footer .info span {
    display: inline-block;
    margin: 0 0 0 12px;
}
footer button {
    /* button 태그에 넓이와 높이를 주면 글자가 좌우에 가운데 위아래 가운데 정렬됨 */
    float: right;   
    width: 160px;
    height: 40px;
    padding: 0 10px 0 14px;
    margin: 40px 0 0 0;
    border: 1px solid rgba(255,255,255,0.8);
}
footer button strong {
    float: left;
    font-weight: 400;
}
footer button span {
    float: right;
}
