@import url(common.css);
@import url(default.css);

.popup ul li { 
    position: relative;
}
.popup ul li .txt {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    color: #FFF;
    transform: translate(0, -50%);
}
.popup ul li .txt span {
    display: block;
    font-size: 20px;
}
.popup ul li .txt strong {
    display: block;
    font-size: 70px;
    font-weight: 700;
}

.visual1 .ctrl_prev,
.visual1 .ctrl_next {
    position: absolute;
    top: 40%;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.visual1 .ctrl_prev {
    left: 5%;
}
.visual1 .ctrl_next {
    right: 5%;
}
.visual1 .ctrl_prev::before,
.visual1 .ctrl_next::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100px;
    background: url(../images/pop_arrow.svg) no-repeat center center / contain;
    content: "";
}
.visual1 .ctrl_next::before {
    left: auto;
    right: 0;
    transform: rotate(180deg);
}
.visual1 .ctrl_group {
    position: absolute;
    left: calc(50% - 80px);
    bottom: 5%;
    z-index: 10;
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}