*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Malgun Gothic','맑은고딕';
    font-size: 13px;
    color: #333333;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100px;
}
.header .logo {
    float: left;
    height: 100px;
}
.header .logo a {
    display: block;
    width: 230px;
    height: 50px;
    margin-top: 25px;
    background: url(../images/logo.jpg) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
.header nav {
    height: 100px;
}
.header nav > ul {
    float: right;
}
.header nav > ul > li {
    position: relative;
    float: left;
    width: 120px;
    text-align: center;
}
.header nav > ul > li > a {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 100px;
}
.header nav > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 150px;
    background-color: #FFF;
}
.header nav > ul > li.open > ul {
    display: block;
}
.header nav > ul > li > ul > li {
    padding: 5px 0;
}
.header nav > ul:hover > li > ul > li > a {
    display: block;
    line-height: 30px;
}
.header nav > ul > li > a:hover {
    background-color: #5e1742;
    color: #FFF;
}
.header nav > ul > li > ul > li > a:hover {
    background-color: #5e1742;
    color: #FFF;
}

.slide {
    height: 300px;
}
.slide h2 {
    font-size: 0;
    line-height: 0;
}

.content {
    height: 200px;
    margin: 20px 0 0 0;
}
.content .bbs {
    position: relative;
    width: 400px;
}
.content .bbs > ul > li > a {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.content .bbs > ul > li .detail > ul {
    margin-top: 10px;
}
.content .bbs > ul > li .detail > ul > li {
    margin: 10px 0;
}
.content .bbs > ul > li .detail > ul > li:first-child {
    margin-top: 0;
}
.content .bbs > ul > li .detail > ul > li:last-child {
    margin-bottom: 0;
}
.content .bbs > ul > li .detail > ul > li > a span {
    margin-right: 10px;
}
.content .bbs .detail {
    font-size: 15px;
}
.content .bbs .gallery {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.content .bbs .gallery .detail ul li {
    float: left;
}
.content .bbs .gallery .detail ul li a {
    display: block;
}
.content .bbs .gallery {

}
